<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Reel Ratings</h1>
                <p>The Rating You've Been Looking For</p>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titleSearch" placeholder="Search a Movie or TV Show...">
                        <span class="errorMessage">Please Enter a Search Term</span>
                        <button type="submit" class="btn btn-default" id="addShow">Submit</button>
                        <button type="submit" class="btn btn-default" id="luckyMovie">Surprise Movie Genre!</button>
                    </div>
                </form>
            </div>
            <div id="moviesHere" class="row movieContainer home"></div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title" id="modalTitleH4"></h4>
                            <h2 class="reel-rating"></h2>
                        </div>
                        <div class="modal-body" id="modalMovieDiv">
                        </div>
                        <div class="modal-body" id="modalBodyDiv">
                        </div>
                        <div class="modal-body" id="modalBodyRatings">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>